<div class="container-fluid">
  <div
    class="d-flex"
    style="
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: rgb(84, 84, 255);
    "
  >
    <div class="company-name" style="font-size: 32px">
      {{ companyData.companyName }}
    </div>
    <div class="company-ticker" style="color: white">
      {{ companyData.ticker }}
    </div>
    <div class="company-exchange" style="color: white">
      {{ companyData.exchange }}
    </div>
  </div>
</div>
