body{
  font-family: var(--font-base);
}
.main_page_wrape{
  background: var(--primary-bg);
  .wrape{
    height: 100vh;
    position: relative;
    .wrape_img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      right: 0;
      top: 98px;

      bottom:0;
    }
  }

}

@media only screen and (max-width: 999px) and (min-width: 300px) {
  .main_page_wrape .wrape {
    height: 100% ;
    position: relative;
  }
}
